.header h2 {
  font-size: 52px;
  text-align: center;
  margin-bottom: 32px;
}

.homeImg {
  max-height: 600px;
}

.partners {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.partnerImg {
  max-height: 120px;
  max-width: 250px;
}

.partnerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.partnerBox img {
  margin: 32px 0;
}

.partnerText {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.partnerText h3 {
  margin: 0;
}

.rowPartner {
  margin: 16px 0;
}

.centerRow {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--ifm-spacing-horizontal) * -1);
  justify-content: center;
}

.faq {
  width: 55%;
  margin-top: 32px;
}

.faqContainer {
  display: flex;
  align-items: center;
  padding: 8rem 0;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .faq {
    width: 92%;
  }
}

.label {
  min-width: 2em;
  min-height: 2em;
  line-height: 1em;
  text-align: center;
  padding: 0.5em 0.6em 0.4em !important;

  border-radius: 500rem;
  border: 1px solid var(--ifm-color-inverce); /*rgba(34, 36, 38, 0.15);*/
  --ifm-hero-text-color: var(--color-dark);

  box-shadow: none;

  font-size: 1.4rem;
  font-weight: 600 !important;
}

.svg_label {
  height: 1em;
  vertical-align: -0.125em;
  margin-right: 0.2em;
}
